*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* GENERALI */
body {
  font-family: sans-serif;
  font-size: 20px;
  color: #23272A;
}

section {
  padding: 50px 0;
}

ul {
  list-style: none;
}

h2 {
  font-size: 48px;
  margin-bottom: 25px;
 }

h3 {
  font-size: 27px;
}

img {
  max-width: 100%;
}

.wave {
  transform: translateY(10px);
  color: #F6F6F6;
}

.wave-b {
  transform: rotate(180deg);
  color: #F6F6F6;

}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 0 18px;
  font-weight: bold;
  color: #23272A;
  background-color: white;
  cursor: pointer;
}

.small-btn {
  line-height: 46px;
  border-radius: 23px;
  font-size: 15px;
}

.big-btn {
  line-height: 66px;
  border-radius: 33px;
  font-size: 1.2rem;
  padding: 0 35px;
  margin: 0 15px;
}

.dark-btn {
  color: white;
  background-color: #23272A;
}

.lightblue-btn {
  color: white;
  background-color: #8EA1E1;
}

.big-btn i {
  margin-right: 10px;
}

.container {
  height: fit-content;
  width: 98%;
  max-width: 1400px;
  margin: 0px auto;
}

.coloured-section {
  background-color: #F6F6F6;
}

 /* HEADER */
header .nav-section {
  padding: 25px 0;
  background-color: #255EE9;
}

header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo,
header .login {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  width: 45%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li a{
  text-decoration: none;
  color: white;
}

.jumbotron {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  margin-bottom: 100px;
}

.container.jumbo {
  width: 90%;
  max-width: 900px;
  height: 310px;
  margin: 70px auto 190px;


  text-align: center;
  color: white;
}

.jumbotron h1 {
  font-size: 56px;
}

.jumbotron p {
  padding: 50px 0 25px;
  line-height: 35px;
  font-size: 20px;
  margin: 0 15px;
}

/* MAIN */
main section > .container {
  align-items: flex-start;
}

.img-container,
.text-container,
.big-contianer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.img-container {
  width: 70%;
  padding-right: 180px;
}

.coloured-section .img-container {
  padding-right: 0;
  padding-left: 250px;
}

.text-container {
  width: 30%;
  padding: 40px 0 0 40px;
  margin-bottom: 70px;
 }

 .text-container p {
  font-size: 20px;
  line-height: 28px;
  margin-right: 15px;
 }

.container.big-container {
  text-align: center;
}

.big-container h2,
.big-container p {
  padding-right: 185px;
  padding-left: 185px;
}

.big-container img {
  width: 1400px;
}

.big-container .star-img {
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  width: 530px;
  margin: 0 auto 50px;
}

.big-container h3 {
  padding-top: 50px;
  line-height: 27px;
}

.big-container .btn {
  margin-bottom: 100px;
}

/* FOOTER */
footer {
  background-color: #23272A;
  color: white;
}

footer .info-box{
  padding-top: 0px;
}

footer h5,
footer h3 {
  color: #7289DA;
}

footer h3 {
  line-height: 30px;
}

footer .social .language {
  font-size: 13px;
  margin: 20px 0 15px;
}

footer .social .language img {
  height: 15px;
}

footer .social .language i {
  font-size: 10px;
  margin-right: 10px;
}

.info-box .container{
  border-bottom: 1px dashed #7289DA;
  padding: 100px 0 40px;
}

.info-box .container {
  justify-content: space-between;
  align-items: flex-start;
}

.info-box .social {
  width: 20%;
}

.info-box .social .social-icons {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.info-box .info-sections {
  width: 70%;
  display: flex;
  font-size: 15px;
}

.info-section {
  line-height: 30px;
}

.info-box .info-section {
  width: 25%;
}

footer .sign-up {
  padding: 0 0 100px;
}

footer .cta {
  width: 100%;
  height: 50px;
  justify-content: space-between;
}