*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* GENERALI */
body {
  font-family: sans-serif;
  font-size: 20px;
  color: #23272A;
}

section {
  padding: 50px 0;
}

h2 {
  font-size: 48px;
  margin-bottom: 25px;
 }


img {
  max-width: 100%;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 0 14px;
  font-weight: bold;
  color: #23272A;
  background-color: white;
}

.small-btn {
  line-height: 46px;
  border-radius: 23px;
}

.big-btn {
  line-height: 66px;
  border-radius: 33px;
  font-size: 1.2rem;
  padding: 0 35px;
  margin: 0 15px;
}

.dark-btn {
  color: white;
  background-color: #23272A;
}

.lightblue-btn {
  color: white;
  background-color: #8EA1E1;
}

.big-btn i {
  margin-right: 10px;
}

.container {
  height: fit-content;
  width: 98%;
  max-width: 1400px;
  margin: 0px auto;
}

.coloured-section {
  background-color: #F6F6F6;
}

 /* HEADER */
header .nav-section {
  padding: 25px 0;
  background-color: #255EE9;
}

header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo,
header .login {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  width: 45%;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li a{
  text-decoration: none;
  color: white;
}

.jumbotron {
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.container.jumbo {
  width: 90%;
  max-width: 900px;
  height: 310px;
  margin: 70px auto 190px;


  text-align: center;
  color: white;
}

.jumbotron h1 {
  font-size: 56px;
}

.jumbotron p {
  padding: 50px 0 25px;
  line-height: 35px;
  font-size: 20px;
  margin: 0 15px;
}

/* MAIN */
main section > .container {
  align-items: flex-start;
}

.img-container,
.text-container,
.big-contianer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.img-container {
  width: 70%;
  padding-right: 180px;
}

.coloured-section .img-container {
  padding-right: 0;
  padding-left: 250px;
}

.text-container {
  width: 30%;
  padding: 40px 0 0 40px;
 }

 .text-container p {
  font-size: 20px;
  line-height: 28px;
  margin-right: 15px;
 }

.container.big-container {
  text-align: center;
}

.big-container h2,
.big-container p {
  padding-right: 185px;
  padding-left: 185px;
}

.big-container img {
  width: 1400px;
}

.big-container .star-img {
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  width: 530px;
  margin: 0 auto 50px;
}

.big-container h3 {
  padding-top: 50px;
  font-size: 27px;
  line-height: 27px;
}

.big-container .btn {
  margin-bottom: 100px;
}

/* FOOTER */
footer {
  background-color: #23272A;
}

.info-box {
  border-bottom: 1px dashed grey;
  padding: 100px 0 40px;
}

.info-box .social {
  height: 600px;
  width: 30%;
  background-color: #F08080;
  border: 1px dashed black;
  margin-right: 5px;
}

.info-box .info-sections {
  width: 70%;
  display: flex;
}

.info-box .info-section {
  height: 600px;
  width: 25%;
  background-color: #20B2AA;
  border: 1px dashed white;
}

footer .cta {
  width: 100%;
  height: 50px;
  background-color: #7FFFD4;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .cta .logo a,
footer .cta button {
  border: 1px dashed black;
  background-color: #FFB6C1;
  padding: 5px 10px;
  cursor: pointer;
}